/*
Theme Name:HC Desenvolvimentos
Theme URI: https://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

trs+tab= transition

font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* CRIAÇÃO DE VARIÁVEIS */
  :root{
    /* FONTES */
    --monstserrat:'Montserrat', sans-serif;
    --k2d:'K2D', sans-serif;

    /* CORES PRINCIPAIS */
    --azultopo: #f2fafc;
    --azulfundo:  #d2eaf4;
    --azulfooter: #8ba8b;
    --fontefooter: #d0dce2;
    --fontetopo: #92acbc;
    --titulonoticia: #2e2e2e;
    --contentnoticia: #b69a99;
  }


*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'K2D', sans-serif;
  background: #d2eaf3;
}
/* TOPO */
  .topo {
    background-color: var(--azultopo);
  }
    .topo .menu-topo {

    }
      .topo .menu-topo .logo {

      }
        .topo .menu-topo .logo a {

        }
          .topo .menu-topo .logo a img {
            width: 100%;
            max-width: 170px;
            margin: 10px auto;
          }
        .topo .menu-topo .navbar {

        }
          .topo .menu-topo .navbar button {

          }
            .topo .menu-topo .navbar button span {

            }
          .topo .menu-topo .navbar .navbar-header {
            float: initial;
          }
          .topo .menu-topo .navbar .collapse {

          }
            .topo .menu-topo .navbar .collapse .nav {
              text-align: right;
              width: 100%;
              max-width: 925px;
            }
              .topo .menu-topo .navbar .collapse .nav li {
                padding: 20px 0px 0px 35px;
                display: inline-block;
                float: initial;
              }
                .topo .menu-topo .navbar .collapse .nav li a {
                  text-decoration: none;
                  color: var(--fontetopo);
                  font-size: 21px;
                  padding: 10px;
                  font-weight: 300;
                }
                .topo .menu-topo .navbar .collapse .nav li .inicio {
                  font-weight: 700;
                }
              .topo .menu-topo .navbar .collapse .nav .imagem-busca-lista {
                padding: 15px 0px 0px 0px;
              }
                .topo .menu-topo .navbar .collapse .nav li .imagem-busca {
                  padding: 8px 0px 0px 0px;
                }
                  .topo .menu-topo .navbar .collapse .nav li .imagem-busca img {
                    padding: 0px;
                    width: 28px;
                    margin: 0 auto;
                  }

/* PG */
  .sidebar {

  }
    .sidebar .sidebar-secoes {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }
    .sidebar .sidebar-secoes section {
        background: #fff;
          padding: 20px 24px;
        margin: 50px auto;
        border-radius: 22px;
    }
      .sidebar .sidebar-secoes section h4 {
          font-size: 35px;
          text-transform: uppercase;
          text-align: center;
          color: #eb7d7c;
      }
      .sidebar .sidebar-secoes section .borda {
          border-bottom: 2px dotted #eb7d7c;
          width: 198px;
          display: block;
            margin: 0 auto 7px;
      }
      .sidebar .sidebar-secoes section .noticia {

      }
        .sidebar .sidebar-secoes section .noticia .titulo {
            display: inline-block;
            width: 48%;
            padding: 20px 0 0;
        }
          .sidebar .sidebar-secoes section .noticia .titulo p {
              font-size: 20px;
              font-weight: 500;
              margin: 0;
          }
            .sidebar .sidebar-secoes section .noticia .titulo p a {
                text-decoration: none;
                color: var(--titulonoticia);
            }
          .sidebar .sidebar-secoes section .noticia .titulo span {
              font-size: 14px;
              font-weight: 700;
              color: #39fb3a;
          }
        .sidebar .sidebar-secoes section .noticia .imagem {
          width: 50%;
          display: inline-block;
          vertical-align: bottom;
        }
          .sidebar .sidebar-secoes section .noticia .imagem figure {

          }
            .sidebar .sidebar-secoes section .noticia .imagem figure img {

            }
    .sidebar .sidebar-secoes .secao-mais-procurados {

    }
      .sidebar .sidebar-secoes .secao-instagram {

      }
        .sidebar .sidebar-secoes .secao-instagram #instafeed {

        }
      .sidebar .sidebar-secoes .secao-facebook {
        text-align: center;
      }
        .sidebar .sidebar-secoes .secao-facebook .facebook {
          
        }
  ul.listaDePosts{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }
    ul.listaDePosts .postCategoria{
      display: inline-block;
      width: 28.3%;
      font-family: var(--k2d);
      font-size: 13px;
      background: #fff;
      border-radius: 42px;
      margin: 0 20px 70px;
    }
      ul.listaDePosts .postCategoria a.linkPost{  
        text-decoration: none;
        color: initial;
        padding: 0 20px;
        display: block;
      }
        ul.listaDePosts .postCategoria article.informacoesPost{
          font-family: var(--k2d);
          position: relative;
        }
          ul.listaDePosts .postCategoria article.informacoesPost h3.tituloPost{
            margin: 0;
            text-align: left;
            width: 100%;            
            margin-top: 30px;
          }
          ul.listaDePosts .postCategoria article.informacoesPost p.descricaoPost{
            color: #ad8e8e;
            margin-top: 15px;
          }
          ul.listaDePosts .postCategoria article.informacoesPost span.dataPost::before{
            content: '';
            width: 100%;
            height: 4px;
            border-radius: 11px;
            background: #298eb8;
            display: block;
            max-width: 50%;
            margin: 15px 0 10px;
          }
          ul.listaDePosts .postCategoria article.informacoesPost span.dataPost{
            display: block;
            width: 100%;
            padding: 0 20px;
            color: #298eb8;
            font-weight: bold;
          }
          ul.listaDePosts .postCategoria article.informacoesPost .compartilhamentoPost{
            width: 100%;
            padding: 0 20px;
          }
            ul.listaDePosts .postCategoria article.informacoesPost .compartilhamentoPost ul{
              padding: 0;
              margin: 0;
              list-style: none;
            }
              ul.listaDePosts .postCategoria article.informacoesPost .compartilhamentoPost ul li{
                display: inline-block;
                margin: 10px 2px 10px;
              }
                ul.listaDePosts .postCategoria article.informacoesPost .compartilhamentoPost ul li a{
                  width: 100%;
                  max-width: 30px;
                  text-decoration: none;
                }
                  ul.listaDePosts .postCategoria article.informacoesPost .compartilhamentoPost ul li a i{
                    color: #ad8e8e;
                    font-size: 14px;
                  }
          ul.listaDePosts .postCategoria article.informacoesPost figure.imagemDestaquePost{
            width: 100%;
          }
            ul.listaDePosts .postCategoria article.informacoesPost figure.imagemDestaquePost img{
              width: 100%;
              height: auto;
            }
             ul.listaDePosts .postCategoria article.informacoesPost .linkFora{
              position: absolute;
              display: block;
              width: 50px;
              height: 50px;
              background: #8aa8b7;
              text-align: center;
              right: 20px;
              bottom: -20px;
              border-radius: 100%;
              color: #fff;
              font-size: 27px;
             }
              ul.listaDePosts .postCategoria article.informacoesPost .linkFora i{
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
              }
        ul.listaDePosts .postCategoria a.botaoVerPost{
          
        }
          ul.listaDePosts .postCategoria a.botaoVerPost i{

          }

/* PÁGINA PRINCIPAL */
  .pg-principal{
    padding-bottom:85px;
  }
    .containerFull{
      width: 100%;
      max-width: 1440px;
      margin:0 auto;
    }
    .pg-principal nav{
      text-align: right;
      padding: 10px 0;
      max-width: 95%;
      margin: 0 auto;
    }
      .pg-principal nav a{
        text-transform: uppercase;
        color: #8aa9b7;
        font-size: 20px;
        margin: 0;
        text-decoration: none;
        padding: 20px 20px;
        
      }
      .pg-principal nav #closeMenu{
        display:none;
      }
      .menuAtivar{
        text-transform: uppercase;
        color: #8aa9b7;
        padding:10px;
        font-size: 17px;
        display: none;
      }
       .menuAtivar button{
          background: transparent;
          border: solid 1px #8aa9b7;
          padding: 5px;
          border-radius: 5px;
          vertical-align: sub;
          outline: none;
        } 
          .menuAtivar button span{
            width: 28px;
            height: 3px;
            background: #8aa9b7;
            display: block;
            margin: 3px 0;
            border-radius: 3px;
          }
        .pg-principal nav a:hover{
          color:#fff;
          background: #97d2e8;
        }
    .pg-principal .areaConteudo{

    }
    .pg-principal .areaConteudo h2{
      color: #ad8e8e;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 15px;
      margin:0;
    }
    .pg-principal .areaConteudo .logo{

    }
      .pg-principal .areaConteudo .logo img{
        display: block;
        margin: 45px auto 0;
        height: auto;
        max-width: 180px;
      }
    .pg-principal .areaConteudo .imgIlustrativa{

    }
      .pg-principal .areaConteudo .imgIlustrativa img{
        display: block;
        height: auto;
        width: 100%;
        max-width: 350px;
        margin: 80px auto 0;
      }
      .pg-principal .areaConteudo .areaTexto article{
        color: #ad8e8e;
        max-width: 650px;
        margin: 45px auto;
      }
        .pg-principal .areaConteudo .areaTexto article h6{
          color: #ad8e8e;
          text-transform: uppercase;
          font-size: 35px;
          text-align: center;
        } 
        .pg-principal .areaConteudo .areaTexto article p{
          color: #ad8e8e;
          text-align: center;
          padding: 0 10px;
          margin-bottom: 50px;
          line-height: 17px;
        }  

        .pg-principal .plataformas{
          max-width: 650px;
          margin: 0 auto;
        } 
          .pg-principal .plataformas ul{
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
          }
            .pg-principal .plataformas ul li{
              width: 100%;
              display: inline-block;
              max-width: 30.1%;
              margin: 0 9px;
            }
              .pg-principal .plataformas ul li a{
                text-decoration: none;
              }
              .pg-principal .plataformas ul li h3{
                color: #8aa9b7;
                text-transform: uppercase;
                font-style: italic;
                font-weight: 300;
                font-size: 16px;
                margin: 4px 0;
              } 
              .pg-principal .plataformas ul li img{
                display: block;
                width: 100%;
                height: auto;
              }
  @media(max-width: 768px){
      .pg-principal nav{
        text-align: left;
        
        position: fixed;
        top: 0;
        background: #d2eaf3;
        z-index: 9;
        max-width: 100%;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition:All 1s ease;
        -webkit-transition:All 1s ease;
        -moz-transition:All 1s ease;
        -o-transition:All 1s ease;
      }
      .pg-principal nav #closeMenu{
        display: block;
        float: right;
        margin: 0 20px;
        background: transparent;
        border: solid #fff;
        color: #fff;
        padding: 10px 0;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        line-height: 0px;
        font-size: 25px;
        text-align: center;
        outline: none;
      }

        .pg-principal nav.open{
          left:0;
          transition:All 1s ease;
          -webkit-transition:All 1s ease;
          -moz-transition:All 1s ease;
          -o-transition:All 1s ease;
        }
    .menuAtivar{
      display: block;
      float: right;
      position: relative;
      z-index: 1;
    }
    .pg-principal .areaConteudo h2{
      padding-top: 70px;
    }
    .pg-principal .areaConteudo .logo img{
      margin: 10px auto 0;
    }
    .pg-principal .areaConteudo .imgIlustrativa img{
      margin: 20px auto 0;
    }
    .pg-principal .areaConteudo .areaTexto article p{
      text-align: center;
    }
    .pg-principal .areaConteudo .areaTexto article h6{
      text-align: center;
    }
    .pg-principal .plataformas ul li {
      width: 100%;
      display: block;
      max-width: 250px;
      margin: 0 auto;
    }
    .pg-principal nav a{
      font-size: 20px;
      margin: 0 0;
      padding: 0px 20px;
      display: block;
    }
  }

/* PÁGINA DO POST*/
  .pg-post{

  }
    .pg-post .breadCrumbs{

    }
      .pg-post .breadCrumbs ul{

      }
        .pg-post .breadCrumbs ul li{

        }
          .pg-post .breadCrumbs ul li a{

          }
  .pg-post .conteudoPost{

  }
    .pg-post .conteudoPost h1.tituloPost{

    }
      .pg-post .conteudoPost a.categoriaPost{

      }
      .pg-post .conteudoPost span.dataPost{

      }
      .pg-post .conteudoPost figure.imagemDestaquePost{

      }
        .pg-post .conteudoPost figure.imagemDestaquePost img{

        }
      .pg-post .conteudoPost .textoPost{

      }
        .pg-post .conteudoPost .textoPost p{

        }
        .pg-post .conteudoPost .textoPost h1{

        }
        .pg-post .conteudoPost .textoPost h2{

        }
        .pg-post .conteudoPost .textoPost h3{

        }
        .pg-post .conteudoPost .textoPost h4{

        }
        .pg-post .conteudoPost .textoPost h5{

        }
      .pg-post .conteudoPost .disqus{

      }

/* PÁGINA DE CATEGORIA*/
  .pg-categoria{

  }
    .pg-categoria .nomeCategoria{
      width: 100%;
      background: #fff;
      min-height: 240px;
      max-width: 800px;
      border-radius: 0px 25px 25px 0;
      position: relative;
      margin-top: 50px;
      background-image: url(../img/bannerCategoria.png);
      background-repeat: no-repeat;
    }
      .pg-categoria .nomeCategoria h3{
        margin: 0;
        position: absolute;
        top: 50%;
        right: 30px;
        color: #298eb8;
        font-size: 60px;
        transform: translateY(-50%);
      }
      .pg-categoria .nomeCategoria h3::after{
        content: "";
        width: 100%;
        height: 4px;
        background: #298eb8;
        display: block;
        position: absolute;
        border-radius: 5px;
        right: -13.6%;
        bottom: -20px;
      }
    .pg-categoria .postsCategoria{
      width: 100%;
      margin-top: 100px;
    }
    .pg-categoria .postsCategoria a.verMais {
      display: block;
      width: 100%;
      background: #fff;
      min-height: 50px;
      max-width: 200px;
      border-radius: 0 25px 25px 0;
      text-align: center;
      font-size: 24px;
      line-height: 44px;
      color: var(--contentnoticia);
      text-decoration: none;
      box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.29);
    }

/* PÁGINA INICIAL */
  .pg-inicial{
    
  }
    .pg-inicial .bannerDestaque{
      width: 100%;
    }
      .pg-inicial .bannerDestaque .bannerDestaqueInicial{
        
      }
        .pg-inicial .bannerDestaque .bannerDestaqueInicial .item{
          
        }
          .pg-inicial .bannerDestaque .bannerDestaqueInicial .item a{
            
          }
            .pg-inicial .bannerDestaque .bannerDestaqueInicial .item a figure{
              
            }
              .pg-inicial .bannerDestaque .bannerDestaqueInicial .item a figure img{
                width: 100%;
                height: auto;
              }
  .pg-inicial .postsInicial {

  }
    .postsInicial {

    }
    .pg-inicial .postsInicial .post {
      width: 80%;
      border-radius: 0 25px 25px 0;
      margin: 50px 0 0;
      position: relative;
    }
      .pg-inicial .postsInicial .post .texto {
        padding: 20px 0 27px;
        background: #fff;
        padding-left: 70px;
        border-radius: 0 35px 35px 0;
        box-shadow: 0px 0px 22px -6px #a7a7a7;
      }
        .pg-inicial .postsInicial .post .texto .titulo {
            width: 100%;
          max-width: 350px;
        }
          .pg-inicial .postsInicial .post .texto .titulo h2 {
            font-weight: 400;
            color: var(--titulonoticia);
            margin: 0;
          }
        .pg-inicial .postsInicial .post .texto .conteudo {
            width: 100%;
          max-width: 530px;
        }
          .pg-inicial .postsInicial .post .texto .conteudo p {
            color: var(--contentnoticia);
            font-size: 13px;
            padding: 8px 0;
            margin: 0;
          }
        .pg-inicial .postsInicial .post .texto .categoria {
            border-bottom: 3px solid #39fb3a;
          width: 100%;
          max-width: 300px;
          padding: 4px 0;
          padding-left: 15px;
        }
          .pg-inicial .postsInicial .post .texto .categoria a {
            color: #39fb3a;
            text-decoration: none;
            font-size: 17px;
            letter-spacing: 4px;
          }
            .pg-inicial .postsInicial .post .texto .categoria a img {
              width: 34px;
              padding: 4px;
              margin-right: 4px;
            }
      .pg-inicial .postsInicial .post .imagem {
        width: 100%;
        max-width: 185px;
        position: absolute;
        top: 20px;
        right: -9%;
        box-shadow: 0px 0px 22px -6px #a7a7a7;
        border-radius: 20px;
      }
        .pg-inicial .postsInicial .post .imagem .data {
            background: #fff;
          border-radius: 24px 24px 0 0;
          padding: 10px 12px;
        }
        .pg-inicial .postsInicial .post .imagem .data span {
          color: #39fb3a;
          font-weight: 800;
          font-size: 12px;
        }
        .pg-inicial .postsInicial .post .imagem .data ul {
          margin-bottom: 0;
        }
          .pg-inicial .postsInicial .post .imagem .data ul li {
            list-style: none;
              display: inline-block;
              max-width: 54px;
          }
            .pg-inicial .postsInicial .post .imagem .data ul li {
                width: 100%;
                max-width: 9px;
            }
              .pg-inicial .postsInicial .post .imagem .data ul li img {
                width: 10px;
              }
        .pg-inicial .postsInicial .post .imagem figure {

        }
          .pg-inicial .postsInicial .post .imagem figure img {
            width: 100%;
              max-width: 200px;
          }
        .pg-inicial .postsInicial .post .imagem a {
          position: absolute;
          left: 162px;
          bottom: 2px;
        }
          .pg-inicial .postsInicial .post .imagem a img {
            width: 37px;
          }
    .pg-inicial .postsInicial .ver-mais {

    }
      .pg-inicial .postsInicial .ver-mais button {
        border: none;
          background: white;
          color: var(--contentnoticia);
          padding: 7px 15px 7px 68px;
          border-radius: 0 30px 30px 0;
          font-size: 25px;
          margin: 30px auto;
            box-shadow: 0px 0px 20px 2px #0000003d;
      }

/* PÁGINA DE BUSCA*/
  .pg-busca{

  }
    .pg-busca .tituloResultado{

    }
      .pg-busca .tituloResultado p{

      }
  .pg-busca .postsEncontrados{

  }


