.carrossel-banner-destaque {

}
	.carrossel-banner-destaque .item {

	}
		.carrossel-banner-destaque .item a {

		}
			.carrossel-banner-destaque .item a figure {

			}
				.carrossel-banner-destaque .item a figure img {
					
				}