
.destaque-noticias {

}
	.destaque-noticias .destaque {

	}
		.destaque-noticias .destaque .fundo-destaque {

		}
	.destaque-noticias .titulo {

	}
		.destaque-noticias .titulo h1 {

		}
	.destaque-noticias .seta {

	}
		.destaque-noticias .seta span {
			
		}