
footer {

}
	footer .rodape {

	}
		footer .rodape .logo {

		}
			footer .rodape .logo a {

			}
				footer .rodape .logo a figure {

				}
					footer .rodape .logo a figure img {

					}
			footer .rodape .logo p {

			}
		footer .rodape .texto {

		}
			footer .rodape .texto p {

			}
			footer .rodape ul {

			}
				footer .rodape ul li {

				}
					footer .rodape ul li a {
						
					}