
.topo {
    background-color: var(--azultopo);
}
	.topo .menu-topo {

	}
		.topo .menu-topo .logo {

		}
			.topo .menu-topo .logo a {

			}
				.topo .menu-topo .logo a img {
				    width: 100%;
				    max-width: 170px;
				    margin: 10px auto;
				}
			.topo .menu-topo .navbar {

			}
				.topo .menu-topo .navbar button {

				}
					.topo .menu-topo .navbar button span {

					}
				.topo .menu-topo .navbar .navbar-header {
					float: initial;
				}
				.topo .menu-topo .navbar .collapse {

				}
					.topo .menu-topo .navbar .collapse .nav {
				        text-align: right;
					    width: 100%;
					    max-width: 925px;
					}
						.topo .menu-topo .navbar .collapse .nav li {
	                        padding: 20px 0px 0px 35px;
						    display: inline-block;
						    float: initial;
						}
							.topo .menu-topo .navbar .collapse .nav li a {
				                text-decoration: none;
							    color: var(--fontetopo);
							    font-size: 21px;
							    padding: 10px;
							    font-weight: 300;
							}
							.topo .menu-topo .navbar .collapse .nav li .inicio {
								font-weight: 700;
							}
						.topo .menu-topo .navbar .collapse .nav .imagem-busca-lista {
						    padding: 15px 0px 0px 0px;
						}
							.topo .menu-topo .navbar .collapse .nav li .imagem-busca {
							    padding: 8px 0px 0px 0px;
							}
								.topo .menu-topo .navbar .collapse .nav li .imagem-busca img {
								    padding: 0px;
								    width: 28px;
								    margin: 0 auto;
								}


/*     	float: initial;
	    width: 100%;
	    display: block; */