	.pg-inicial{
		
	}
		.pg-inicial .bannerDestaque{
			
		}
			.pg-inicial .bannerDestaque .bannerDestaqueInicial{
				
			}
				.pg-inicial .bannerDestaque .bannerDestaqueInicial .item{
					
				}
					.pg-inicial .bannerDestaque .bannerDestaqueInicial .item a{
						
					}
						.pg-inicial .bannerDestaque .bannerDestaqueInicial .item a figure{
							
						}
							.pg-inicial .bannerDestaque .bannerDestaqueInicial .item a figure img{
								
							}
	.pg-inicial .postsInicial {

	}
		.postsInicial {

		}
		.pg-inicial .postsInicial .post {
			width: 100%;
			max-width: 700px;
			border-radius: 0 25px 25px 0;
			margin: 50px 0 0;
			position: relative;
		}
			.pg-inicial .postsInicial .post .texto {
				padding: 20px 0 27px;
				background: #fff;
				padding-left: 70px;
				border-radius: 0 35px 35px 0;
				box-shadow: 0px 0px 22px -6px #a7a7a7;
			}
				.pg-inicial .postsInicial .post .texto .titulo {
			    	width: 100%;
			 		max-width: 350px;
				}
					.pg-inicial .postsInicial .post .texto .titulo h2 {
						font-weight: 400;
						color: var(--titulonoticia);
						margin: 0;
					}
				.pg-inicial .postsInicial .post .texto .conteudo {
			    	width: 100%;
					max-width: 530px;
				}
					.pg-inicial .postsInicial .post .texto .conteudo p {
						color: var(--contentnoticia);
						font-size: 13px;
						padding: 8px 0;
						margin: 0;
					}
				.pg-inicial .postsInicial .post .texto .categoria {
			    	border-bottom: 3px solid #39fb3a;
					width: 100%;
					max-width: 300px;
					padding: 4px 0;
					padding-left: 15px;
				}
					.pg-inicial .postsInicial .post .texto .categoria a {
						color: #39fb3a;
						text-decoration: none;
						font-size: 17px;
						letter-spacing: 4px;
					}
						.pg-inicial .postsInicial .post .texto .categoria a img {
							width: 34px;
							padding: 4px;
							margin-right: 4px;
						}
			.pg-inicial .postsInicial .post .imagem {
				width: 100%;
				max-width: 185px;
				position: absolute;
				top: 20px;
				left: 635px;
				box-shadow: 0px 0px 22px -6px #a7a7a7;
				border-radius: 20px;
			}
				.pg-inicial .postsInicial .post .imagem .data {
			    	background: #fff;
				 	border-radius: 24px 24px 0 0;
				 	padding: 10px 12px;
				}
				.pg-inicial .postsInicial .post .imagem .data span {
					color: #39fb3a;
					font-weight: 800;
					font-size: 12px;
				}
				.pg-inicial .postsInicial .post .imagem .data ul {
					margin-bottom: 0;
				}
					.pg-inicial .postsInicial .post .imagem .data ul li {
						list-style: none;
	    				display: inline-block;
				    	max-width: 54px;
					}
						.pg-inicial .postsInicial .post .imagem .data ul li {
					    	width: 100%;
	    					max-width: 9px;
						}
							.pg-inicial .postsInicial .post .imagem .data ul li img {
								width: 10px;
							}
				.pg-inicial .postsInicial .post .imagem figure {

				}
					.pg-inicial .postsInicial .post .imagem figure img {
						width: 100%;
	    				max-width: 200px;
					}
				.pg-inicial .postsInicial .post .imagem a {
					position: absolute;
					left: 162px;
					bottom: 2px;
				}
					.pg-inicial .postsInicial .post .imagem a img {
						width: 37px;
					}
		.pg-inicial .postsInicial .ver-mais {

		}
			.pg-inicial .postsInicial .ver-mais button {
				border: none;
			    background: white;
			    color: var(--contentnoticia);
			    padding: 7px 15px 7px 68px;
			    border-radius: 0 30px 30px 0;
			    font-size: 25px;
			    margin: 30px auto;
		        box-shadow: 0px 0px 20px 2px #0000003d;
			}