.pg-post-noticias {

}
	.pg-post-noticias .texto-noticia {

	}
		.pg-post-noticias .texto-noticia h2 {

		}
		.pg-post-noticias .texto-noticia p {

		}
		.pg-post-noticias .texto-noticia span {

		}
		.pg-post-noticias .texto-noticia ul {

		}
			.pg-post-noticias .texto-noticia ul li {

			}
				.pg-post-noticias .texto-noticia ul li a {

				}
					.pg-post-noticias .texto-noticia ul li a img {

					}
	.pg-post-noticias .imagem-destaque {

	}
		.pg-post-noticias .imagem-destaque figure {

		}
			.pg-post-noticias .imagem-destaque figure img {

			}
		.pg-post-noticias .imagem-destaque a {

		}
			.pg-post-noticias .imagem-destaque a img {

			}
	.pg-post-noticias .ver-mais {

	}
		.pg-post-noticias .ver-mais button {
			
		}